<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga - free to read</title>
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
</head>
<body>
    <div id="main">
        <!-- log in & sign in -->
        <div id="ls" v-if="login_signin">
            <div>
                <h2 id="ls_header" v-if="ls_switcher">LOG IN</h2>
                <h2 id="ls_header" v-else>SIGN IN</h2>
            <div class="container_inp">
                <input type="text" class="lo_si_inp" v-model="inp_lo_us" placeholder="Username" @keyup.enter="ls_submit" v-if="ls_switcher">
                <input type="text" class="lo_si_inp" v-model="inp_si_us" placeholder="Username" @keyup.enter="ls_submit" v-else>
            </div>
            <div class="container_inp">
                <input type="password" class="lo_si_inp" v-model="inp_lo_pa" placeholder="Password" @keyup.enter="ls_submit" v-if="ls_switcher">
                <input type="password" class="lo_si_inp" v-model="inp_si_pa" placeholder="Password" @keyup.enter="ls_submit" v-else>
            </div>
            <div class="container_inp" v-if="ls_switcher==false">
                <input type="password" class="lo_si_inp" v-model="inp_si_pa_co" placeholder="Confirm password"  @keyup.enter="ls_submit">
            </div>
            <div class="sub_button ho" v-on:click="ls_submit">SUBMIT</div>
            <div class="ls_switch"  v-if="ls_switcher">Not registered? <span class="link ho" v-on:click="signin">Create an account</span></div>
            <div class="ls_switch"  v-else>Already have an account? <span class="link ho" v-on:click="signin">Log in</span></div>
            </div>
        </div>
        <div class="home_button ho" v-if="login_signin" v-on:click="main">HOME</div>
        <!-- Nav-bar -->
        <div id="nav" v-if="nav_bar">
            <div class="container ngang main-nav">
                <div class="ho" v-on:click="main">HOME</div>
                <div>
                    <ul style="float: right; margin: 0;">
                        <li class="ho"  v-on:click="Drop_stype(search_typeID)">{{search_type[search_typeID]}}</li>
                        <li class="ho" v-if="drop_stype" v-on:click="Drop_stype(0)">KANJI</li>
                        <li class="ho" v-if="drop_stype" v-on:click="Drop_stype(1)">READING</li>
                    </ul>
                    <div class="search-bar ngang">
                        <input v-model="searchInp" @keyup.enter="searchMG" type="text" id="searchbar" placeholder="Quick search">
                        <div style="padding-top: 4px;" class="ho" v-on:click="searchMG"><i class="fas fa-search"></i></div>
                    </div>
                </div>
               
                <div class="ngang">
                    <div style="margin-right: 15px;" class="ho" v-on:click="fav_dropdown"><i class="fas fa-heart"></i></div>
                    <div class="menu">
                        <div class="ho" v-on:click="login" v-if="user_id==0">LOG IN</div>
                        <div class="ho" v-on:click="dropmenu" v-else>{{users[user_id-1].username}}</div>
                        <ul v-if="dropped_down" style="float: right;">
                            <li v-on:click="Profile" class="ho">Profile</li>
                            <li v-on:click="load_favourite" class="ho">Favourite</li>
                            <li v-on:click="log_out" class="ho">Log out</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 150px; background-color: darkgray;"></div>
        <!-- Main Container -->
        <div id="Container" v-if="container">
            <div id="left">
                <!-- show words -->
                <!-- <h1>words</h1>
                <div class="item ngang">
                    <div class="name">
                        擬蝦夷法螺
                    </div>
                    <div class="info">
                        <div class="tag">Pronounced</div>
                        <div class="naka jap">えぞぼらもどき</div>
                        <div class="tag">Meanings</div>
                        <div class="naka jap">double-sculptured neptune (species of whelk, Neptunea intersculpta)</div>
                    </div>
                </div> -->

                <!-- show readings -->
                <h1>readings</h1>
                <div class="ngang">
                    <div class="kanji">
                        蠍
                    </div>
                    <div class="info">
                        <div class="ngang">
                            <div class="tag">kun reading:</div>
                            <div class="naka jap">さそり</div>
                        </div>
                        <div class="ngang">
                            <div class="tag">on reading:</div>
                            <div class="naka jap">カツ</div>
                        </div>
                        <div class="ngang">
                            <div class="tag">meanings</div>
                        <div class="naka jap">scorpion</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right">
                <!-- show kanji -->
                <!-- <h1>kanji</h1>
                <div class="ngang">
                    <div class="kanji">
                        蠍
                    </div>
                    <div class="info">
                        <div class="tag">kun reading:</div>
                        <div class="naka jap">さそり</div>
                        <div class="tag">on reading:</div>
                        <div class="naka jap">カツ</div>
                        <div class="tag">meanings</div>
                        <div class="naka jap">scorpion</div>
                    </div>
                </div> -->
                
                
            </div>
        </div>
        
        <!-- Footer -->
        <div id="Footer" v-if="footer"></div>
    </div>
    <script src="./script/main.js"></script>
    <script src="./script/vue-components.js"></script>
</body>
</html>