<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga - free to read</title>
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
</head>
<body>
    <div id="main">
        <!-- Nav-bar -->
        <div id="nav">
            <div class="container ngang main-nav">
                <div class="ho" v-on:click="main">HOME</div>
                <div class="search-bar ngang">
                    <input v-model="searchInp" @keyup.enter="searchMG" type="text" id="searchbar" placeholder="Quick search">
                    <div style="padding-top: 4px;" class="ho" v-on:click="searchMG"><i class="fas fa-search"></i></div>
                </div>
                <div class="ngang">
                    <div style="margin-right: 15px;" class="ho" v-on:click="fav_dropdown"><i class="fas fa-heart"></i></div>
                    <div class="menu">
                        <div class="ho" v-on:click="login" v-if="user_id==0">LOGIN</div>
                        <div class="ho" v-on:click="dropmenu" v-else>{{users[user_id-1].username}}</div>
                        <ul v-if="dropped_down" style="float: right;">
                            <li v-on:click="Profile" class="ho">Profile</li>
                            <li v-on:click="load_favourite" class="ho">favourite</li>
                            <li v-on:click="log_out" class="ho">Log out</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container -->
        <div></div>
    </div>
    <script src="./script/main.js"></script>
    <script src="./script/vue-components.js"></script>
</body>
</html>