body{
    margin: 0;
    background-color: rgb(13, 17, 23);
    color: rgb(219, 219, 219);
}
/* Nav bar */
#nav{
    height: 50px;
    background-color: rgb(22, 27, 34);
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
    border-bottom: 1px solid rgb(54, 54, 54);
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.main-nav{
    justify-content: space-between;
    margin: 0 auto;
    padding: 12.5px 0;
}
.fas{
    color: rgb(219, 219, 219);
}
.ngang{
    display: flex;
    flex-direction: row;
}
.search-bar{
    background-color: black;
    width: 400px;
    height: 28px;
    display: flex;
    justify-content: space-between ;
    padding: 0px 10px;
    border-radius: 6px;
    border:  1px solid rgb(54, 54, 54);
}
i{
    max-height: 22px;
    margin: auto;
}
#searchbar{
    width: 100%;
    border: none;
    outline: none;
    color: rgb(219, 219, 219);
    background-color: black;
    height: 20px;
    margin: 4px 5px 2px 5px;
}
.ho:hover,.fas:hover{
    cursor: pointer;
    color: rgb(88, 166, 255);
}
ul{
    padding: 0;
    margin: 10px 0 0 0;
    width: 100px;
    background-color: rgb(26, 34, 46);
    border-radius: 5px;
    border: 1px solid rgb(117, 117, 117);
}
li{
    list-style: none;
    padding: 5px 0;
    text-align: center;
}
.menu{
    width: 100px;
}
.menu div{
    text-align: center;
}

/* Login */
#ls{
    background-color: rgb(52, 52, 80);
    margin: 5% auto 0 auto;
    width: 400px;
    height: 450px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 20px;
}
#ls_header{
    margin: 40px 0;
    text-align: center;
}
/* login-signin input */
.container_inp{
    margin: 0 20px 40px 70px;
    width: 260px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
}
.lo_si_inp{
    width: 240px;
    height: 30px;
    margin-left: 16px;
    padding: 0;
    border: none;
    outline: none;
}
.sub_button{
    padding: 20px 30px;
    background-color: rgb(22, 27, 34);
    border: 1px solid rgb(67, 67, 67);
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}
.sub_button:hover{
    background-color: rgb(39, 48, 61);
}
.ls_switch{
    text-align: center;
    margin-top: 10px;
}
.link{
    color: burlywood;
}
.home_button{
    text-align: center;
    margin: 50px auto;
    padding: 20px 50px;
    width: 100px;
    background-color: rgb(129, 77, 177);
    border-radius: 20px;
}

/* footer */
#footer{
    height: 400px;
    
}