body{
    margin: 0;
    background-color: rgb(13, 17, 23);
    color: rgb(219, 219, 219);
}
#test-nav{
    height: 50px;
    background-color: rgb(22, 27, 34);
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
    border-bottom: 1px solid rgb(54, 54, 54);
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.main-nav{
    justify-content: space-between;
    margin: 0 auto;
    padding: 12.5px 0;
}
.fas{
    color: rgb(219, 219, 219);
}
.ngang{
    display: flex;
    flex-direction: row;
}
.search-bar{
    background-color: black;
    width: 400px;
    height: 28px;
    display: flex;
    justify-content: space-between ;
    padding: 0px 10px;
    border-radius: 6px;
    border:  1px solid rgb(54, 54, 54);
}
i{
    max-height: 22px;
    margin: auto;
}
#searchbar{
    width: 100%;
    border: none;
    outline: none;
    color: rgb(219, 219, 219);
    background-color: black;
    height: 20px;
    margin: 4px 5px 2px 5px;
}
.ho:hover,.fas:hover{
    cursor: pointer;
    color: rgb(88, 166, 255);
}
ul{
    padding: 0;
    margin: 10px 0 0 0;
    width: 100px;
    background-color: rgb(26, 34, 46);
    border-radius: 5px;
    border: 1px solid rgb(117, 117, 117);
}
li{
    list-style: none;
    padding: 5px 0;
    text-align: center;
}
.menu{
    width: 100px;
}
.menu div{
    text-align: center;
}